<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'CSS/aboutus.css' %}">
<title>About Us | Nexora IT Solution</title>


</head>

<body>

<div class="navbar">
<ul>
  <a href="/Home/">Home</a>
  <a href="/Aboutus/">About Us</a>
  <a href="/Services/">Services</a>
  <a href="/Gallery/">Gallery</a>
  <a href="/blog/">Blog</a>
  <a href="/contactus/">Contact Us</a>
  <a href="/logout/" class="logout-btn">Logout</a>
</ul>
</div>


<!-- About Us content yaha se start -->


<!-- HERO -->
<section class="about-hero">
  <h1>About Nexora IT Solution</h1>
  <p>
    Nexora IT Solution is a professional IT training and development institute
    focused on building real-world skills and industry-ready professionals.
  </p>
</section>

<!-- WHO WE ARE -->
<div class="container">
  <div class="about-section ">
    <div class="about-image">
      <img src="{% static 'Image1/aboutus1.jpg' %}">
    </div>
    <div class="about-text">
      <h2>Who We Are</h2>
      <p>
        Nexora IT Solution is a skill-based IT training institute providing
        practical education in programming, web development, and data
        technologies. Our goal is to bridge the gap between academic learning
        and industry requirements.
      </p>
    </div>
  </div>

  <!-- WHAT WE OFFER -->
  <div class="list-section">
    <h2>What We Offer</h2>
    <ul>
      <li>Programming Languages (C, C++, Python)</li>
      <li>Web Designing & Development</li>
      <li>Data Science & Data Analytics</li>
      <li>Career-oriented classroom training</li>
      <li>Beginner to advanced level courses</li>
    </ul>
  </div>

  <!-- TEACHING APPROACH -->
  <div class="about-section reverse">
    <div class="about-text">
      <h2>Our Teaching Approach</h2>
      <p>
        We believe in learning by doing. Our training focuses on concept clarity,
        hands-on practice, real-life examples, and regular assessments to build
        confidence and strong technical skills.
      </p>
    </div>
    <div class="about-image">
      <img src="{% static 'Image1/aboutus2.webp' %}">
    </div>
  </div>

  <!-- WHY CHOOSE US -->
  <div class="list-section">
    <h2>Why Choose Us</h2>
    <ul>
      <li>Experienced and dedicated faculty</li>
      <li>Practical and job-oriented training</li>
      <li>Simple and clear teaching methodology</li>
      <li>Student-friendly learning environment</li>
      <li>Affordable and quality education</li>
    </ul>
  </div>
</div>

<footer class="footer">

  <h3>Nexora IT Solution</h3>
  <p class="footer-tagline">
    Professional IT training & development institute.
  </p>
  
  <p>
    📍 Ahmedabad, Gujarat |
    📞 +91 98765 43210 |
    ✉ nexorait@gmail.com
  </p>

  <div class="footer-bottom">
    © 2026 Nexora IT Solution | All Rights Reserved
  </div>

</footer>


</body>
</html>
