<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/myfirstproject/static/CSS/gallery.css">
<title>Gallery | Nexora IT Solution</title>
</head>

<body>
<!-- NAVBAR -->
<div class="navbar">
<ul>
  <a href="/Home/">Home</a>
  <a href="/Aboutus/">About Us</a>
  <a href="/Services/">Services</a>
  <a href="/Gallery/">Gallery</a>
  <a href="/blog/">Blog</a>
  <a href="/contactus/">Contact Us</a>
  <a href="/login/" class="logout-btn">Logout</a>
</ul>
</div>


<!-- GALLERY HEADER -->
<div class="gallery-header">
  <h1>Gallery</h1>
  <p>Our classrooms, students & training environment</p>
</div>

<!-- GALLERY GRID -->
<div class="gallery-section">
  <div class="gallery-grid">

    <div class="gallery-card">
      <img src="/myfirstproject/static/image1/gallery(Classroom Training).jpg" >
      <div class="gallery-caption">Classroom Training</div>
    </div>

    <div class="gallery-card">
      <img src="/myfirstproject/static/image1/gallery(Computer Lab Session).jpg">
      <div class="gallery-caption">Computer Lab Session</div>
    </div>

    <div class="gallery-card">
      <img src="/myfirstproject/static/image1/gallery(Students Coding)1.jpg">
      <div class="gallery-caption">Students Coding</div>
    </div>

    <div class="gallery-card">
      <img src="/myfirstproject/static/image1/gallery(Faculty Teaching)1.jpg" >
      <div class="gallery-caption">Faculty Teaching</div>
    </div>

    <div class="gallery-card">
      <img src="/myfirstproject/static/image1/gallery(Group Discussion)1.jpg">
      <div class="gallery-caption">Group Discussion</div>
    </div>

    <div class="gallery-card">
      <img src="/myfirstproject/static/image1/gallery(Project Work)1.jpg">
      <div class="gallery-caption">Project Work</div>
    </div>

  </div>
</div>

<footer class="footer">

  <h3>Nexora IT Solution</h3>
  <p class="footer-tagline">
    Professional IT training & development institute.
  </p>
  
  
  <p>
    📍 Ahmedabad, Gujarat |
    📞 +91 98765 43210 |
    ✉ nexorait@gmail.com
  </p>

  <div class="footer-bottom">
    © 2026 Nexora IT Solution | All Rights Reserved
  </div>

</footer>
</body>
</html>
